*
{
	margin:0; 
	padding:0;
}

body
{
	background-color: white;
	background-repeat: repeat-x;  
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 12pt;
}

td.mform
{
	padding:5px;
}

div.logo
{
	position:absolute;
	top: 7px;
	left: 7px;
}

div.address
{
	position:absolute;
	top: 7px;
	right: 25px;
	color: white;
	text-align: right;
	font-size: 14pt;
	line-height:25px;
}

div.dspcontent
{
	position:relative;
	top: 190px;
	left: 10px;
	width: 98%;
	
}

div.dspmgrcontent
{
	position:relative;
	top: 190px;
	left: 10px;
	width: 98%;
}

div.navigationmgr
{
	position:relative;
	top: 140px;
	left: 10px;
	float:left;
	color:#ffffff;
	font-size: 11pt;
	line-height:25px;
	font-weight:bold;
}

div.navigation
{
	position:relative;
	top: 130px;
	float:right;
	color:#ffffff;
	font-size: 15pt;
	line-height:25px;
	font-weight:bold;
}

a.nav:link 
{
	color:#ffffff;
	font-size: 15pt;
	line-height:25px;
	font-weight:bold;
}      
a.nav:visited 
{
	color:#ffffff;
	font-size: 15pt;
	line-height:25px;
	font-weight:bold;
} 
a.nav:hover 
{
	color:red;
	font-size: 15pt;
	line-height:25px;
	font-weight:bold;
} 
a.nav:active 
{
	color:red;
	font-size: 15pt;
	line-height:25px;
	font-weight:bold;
} 